.container {
    display: flex;
    justify-content: space-between;
}

.products {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products h1 {
    text-align: center;
    margin: 0px auto;
}